<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Sobre nosotros</h1>
</div>

<h2>Bienvenidos a la Escuela Secundaria Isaac Newton</h2>
<p></p>
<img src="img/student.jpg" alt="Laptop" width="473" height="316">

<div class="pt-3">
  <p>12/03/2007.</p>
  <p>En la Escuela Secundaria Secundaria Isaac Newton, nos dedicamos a brindar una educación integral y de calidad a
    nuestros estudiantes. Con más de 20 años de experiencia en la formación de jóvenes, nos enorgullece ser un pilar
    fundamental en nuestra comunidad.</p>

  <h2>Nuestra Misión</h2>
  <p>Nuestra misión es preparar a nuestros estudiantes para enfrentar los desafíos del futuro con confianza y
    competencia. Nos esforzamos por cultivar un entorno de aprendizaje inclusivo y motivador, donde cada alumno pueda
    desarrollar su máximo potencial académico, personal y social.</p>

  <h2>Nuestro Enfoque Educativo</h2>
  <p>En Secundaria Isaac Newton, ofrecemos un currículo equilibrado que abarca una amplia gama de materias, desde
    ciencias y matemáticas hasta artes y humanidades. Además, promovemos el aprendizaje práctico y la participación
    activa a través de laboratorios, proyectos colaborativos y actividades extracurriculares.</p>

  <h2>Valores Fundamentales</h2>
  <p>Nos guiamos por valores fundamentales como el respeto, la integridad, la responsabilidad y la excelencia.
    Fomentamos el desarrollo del pensamiento crítico, la creatividad y el trabajo en equipo, preparando a nuestros
    estudiantes para ser ciudadanos responsables y líderes comprometidos.</p>

  <h2>Comunidad Escolar</h2>
  <p>Nuestra escuela es más que un lugar de aprendizaje; es una comunidad vibrante y solidaria. Trabajamos en estrecha
    colaboración con padres, maestros y la comunidad en general para asegurar que cada estudiante reciba el apoyo y la
    orientación necesarios para alcanzar el éxito.</p>

  <h2>Instalaciones y Recursos</h2>
  <p>Contamos con modernas instalaciones y recursos tecnológicos avanzados que facilitan un aprendizaje dinámico y
    eficiente. Nuestros laboratorios de ciencias, bibliotecas, salas de informática y áreas deportivas están diseñados
    para proporcionar un entorno educativo enriquecedor y seguro.</p>

  <h2>Únete a Nosotros</h2>
  <p>Invitamos a estudiantes y familias a conocer más sobre lo que hace especial a la Escuela Secundaria Isaac Newton. Juntos, podemos construir un futuro brillante y lleno de oportunidades.</p>

  <p>Esperamos darte la bienvenida pronto a nuestra comunidad educativa.</p>
</div>